<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <img class="burgerimg" src="/assets/images/bacon-burger.png">
            <h1><b> Eat-Da-Burger! </b></h1>
        </div>

        <div class="col-md-6 text-center" class="task">
            <div class="row">
                <ul id="uneaten">

                    {{#each burgers}} {{#unless devoured}}
                    <li id="newburger">
                        {{burger_name}} {{#unless devoured}}
                        <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{1}}">DEVOUR IT!</button>{{/unless}}
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-md-6 text-center" class="task">
            <div class="row">
                <ul id="eaten">
                    {{#each burgers}} {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <form class="create-form">

                <div class="form-group">
                    <input type="text" id="newburger" name="name">
                </div>
                <button type="submit">Add Burger!</button>
            </form>
            <h2>Enter a Burger you want to submit</h2>

        </div>
    </div>
</div>