body {
    background-color: orange;
    font-family: 'Gloria Hallelujah', cursive;
}

.burgerimg {
    max-width: 200px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #cc0000;
    margin-bottom: 20px; 
}

h2 {
    text-align: center;
    color: #cc0000;
}
