body {
    background-color: orange;
    font-family: 'Gloria Hallelujah', cursive;
}

.burgerimg {
    max-width: 200px;;
}

h1 {
    text-align: center;
    color: #cc0000;
    margin-bottom: 20px; 
}

h2 {
    text-align: center;
    color: #cc0000;
}

.uneaten {
    align-content: right;
}

.eaten {
    /* text-align: center; */
    align-content: center;
}

.col-md-6 text-center {
    align-content: center;
}

#newburger {
    align-content: right;
}